<div class="container">
    <form [formGroup]="formularioContacto" (ngSubmit)="enviar()">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input [ngClass]="{'is-invalid': hasErrors('nombre','required')}" 
            type="email" class="form-control" id="nombre" formControlName="nombre">
            <div class="text-danger" *ngIf="hasErrors('nombre','required')">Nombre requerido</div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Dirección de Email</label>
            <input [ngClass]="{'is-invalid': hasErrors('email','email') || hasErrors('email','required')}" 
            type="email" class="form-control" id="email" formControlName="email">
            <div class="text-danger" *ngIf="hasErrors('email','email')">Email formato no válido</div>
            <div class="text-danger" *ngIf="hasErrors('email','required')">Email requerido</div>
        </div>  
        <button type="submit" class="btn btn-primary" >Enviar</button>
    </form>
</div>